<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>화성시청</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap" class="sub1">
		<div class="container">
			<aside>
				<h1><img src="img/common/ico_h1_sub1.svg" alt="도시현황"><strong>도시현황</strong></h1>
				<nav>
					<ul>
						<li class="active">
							<a href="#" class="btn-dep1">인구현황</a>
						</li>
						<li>
							<a href="#" class="btn-dep1 flip">공공시설</a>
							<ul class="dep2">
								<li><a href="#" class="btn-dep2">전체시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">공공기관 (1개)</a></li>
								<li><a href="#" class="btn-dep2">청사 (1개)</a></li>
								<li><a href="#" class="btn-dep2">교육시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">도서관 (1개)</a></li>
								<li><a href="#" class="btn-dep2">문화시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">복지시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">대형체육시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">소규모 체육시설 (1개)</a></li>
								<li><a href="#" class="btn-dep2">도시공원 (1개)</a></li>
							</ul>
						</li>
						<li><a href="#" class="btn-dep1">재정현황</a></li>
						<li><a href="#" class="btn-dep1">주민참여예산</a></li>
						<li><a href="#" class="btn-dep1">민원맵</a></li>
						<li><a href="#" class="btn-dep1">일자리현황</a></li>
						<li><a href="#" class="btn-dep1">물가정보</a></li>
						<li><a href="#" class="btn-dep1">시정홍보</a></li>
						<li><a href="#" class="btn-dep1">교류도시</a></li>
					</ul>
				</nav>
				<div class="menu">
					<div class="box dropdown">
						<a href="#" class="m1 active">시정현황</a>
						<ul>
							<li><a href="#">도시현황</a></li>
							<li><a href="#">주요사업</a></li>
							<li><a href="#">재난/안전</a></li>
							<li><a href="#">교통</a></li>
							<li><a href="#">문화/관광/복지</a></li>
							<li class="active"><a href="#">시정현황</a></li>
						</ul>
					</div>
					<div class="box dropdown">
						<a href="#" class="m2">행정</a>
						<ul>
							<li><a href="#">행정</a></li>
							<li><a href="#">경제</a></li>
							<li><a href="#">복지</a></li>
							<li><a href="#">보건</a></li>
							<li><a href="#">환경</a></li>
							<li><a href="#">교육/문화/관광</a></li>
							<li><a href="#">교통안전</a></li>
							<li><a href="#">재정</a></li>
						</ul>
					</div>
					<a href="#" class="btn-move"><span class="hidden">메뉴이동</span></a>
				</div>
			</aside>
			<!-- 좌측 메뉴 -->
			
			<div class="content wrap5">
				<div class="left-box">

					<div class="content-common-box">
						<h2 class="h2">화성시 생활 인구 정보</h2>
						<div class="cont none-bg">
							<ul class="infomation1">
								<li>
									<div class="item">
										<div class="total">
											<span>총인구</span>
											<strong>932,888명</strong>
										</div>
										<div class="box1">
											<dl>
												<dt>경기도 내 순위</dt>
												<dd>5위</dd>
											</dl>
											<dl>
												<dt>경기도 총 인구</dt>
												<dd>13,577,808명</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<div class="box2">
											<dl>
												<dt><i class="men"></i><span>남자</span></dt>
												<dd>
													<strong>51.97%</strong>
													<strong>456,590명</strong>
												</dd>
											</dl>
											<dl>
												<dt><i class="women"></i><span>여자</span></dt>
												<dd>
													<strong>51.97%</strong>
													<strong>456,590명</strong>
												</dd>
											</dl>
											<dl>
												<dt><i class="fore"></i><span>외국인</span></dt>
												<dd>
													<strong></strong>
													<strong>456,590명</strong>
												</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<div class="box3">
											<dl>
												<dt>화성시 평균연령</dt>
												<dd>39.2세</dd>
											</dl>
											<dl>
												<dt>경기도 평균연령</dt>
												<dd>41.2세</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<div class="total">
											<span>출생인구</span>
											<strong>533명</strong>
										</div>
										<div class="box1">
											<dl>
												<dt><i class="men"></i><span>남자</span></dt>
												<dd>292명</dd>
											</dl>
											<dl>
												<dt><i class="women"></i><span>여자</span></dt>
												<dd>265명</dd>
											</dl>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<div class="total">
											<span>사망인구</span>
											<strong>533명</strong>
										</div>
										<div class="box1">
											<dl>
												<dt><i class="men"></i><span>남자</span></dt>
												<dd>292명</dd>
											</dl>
											<dl>
												<dt><i class="women"></i><span>여자</span></dt>
												<dd>265명</dd>
											</dl>
										</div>
									</div>
								</li>
								
								<li>
									<div class="item">
										<div class="box3 last">
											<dl>
												<dt>0 ~ 19세 인구</dt>
												<dd>433,000명</dd>
											</dl>
											<dl>
												<dt>20 ~ 69세 인구</dt>
												<dd>433,000명</dd>
											</dl>
											<dl>
												<dt>70세 이상 인구</dt>
												<dd>33,000명</dd>
											</dl>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="content-common-box">
						<h2 class="h2">생활인구 세부 현황</h2>
						<div class="cont none-bg">
							<div class="map-wrap">
							
								<!-- 임시지도 -->
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12655.01976226366!2d127.13602529008207!3d37.5372736419248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cb01f27d2ed49%3A0x482f4a1a1213e5a5!2z7ISc7Jq47Yq567OE7IucIOqwleuPmeq1rCDrqoXsnbzroZw!5e0!3m2!1sko!2skr!4v1662010450137!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								
								<div class="map-infomation type2">
									<h4>
										<div>
											<a href="#" class="active">인구분포</a>
											<a href="#">인구증감</a>
										</div>
									</h4>
									<div class="checklist">
										<div>
											<label><input type="checkbox" name="allcheck1" class="checkbox all" ><p><em></em><span>전체</span></p></label>
											<label><input type="checkbox" name="check1" class="checkbox " ><p><em></em><span>6만명이상</span></p></label>
											<label><input type="checkbox" name="check1" class="checkbox " ><p><em></em><span>4만~6만명</span></p></label>
											<label><input type="checkbox" name="check1" class="checkbox " ><p><em></em><span>2만~4만명</span></p></label>
											<label><input type="checkbox" name="check1" class="checkbox " ><p><em></em><span>1만~2만명</span></p></label>
											<label><input type="checkbox" name="check1" class="checkbox " ><p><em></em><span>1만명이하</span></p></label>
										</div>
										<div style="display: none">
											<label><input type="checkbox" name="allcheck2" class="checkbox all" ><p><em></em><span>전체</span></p></label>
											<label><input type="checkbox" name="check2" class="checkbox " ><p><em></em><span>인구증가</span></p></label>
											<label><input type="checkbox" name="check2" class="checkbox " ><p><em></em><span>인구감소</span></p></label>
											<label><input type="checkbox" name="check2" class="checkbox " ><p><em></em><span>변동없음</span></p></label>
											<label><input type="checkbox" name="check2" class="checkbox " ><p><em></em><span>미집계</span></p></label>
											<label><input type="checkbox" name="check2" class="checkbox " ><p><em></em><span></span></p></label>
										</div>
									</div>
								</div>
								
								
								
							</div>
						</div>
					</div>
					<!-- // 공통 컨텐츠 박스 -->

				</div>
				<div class="right-box">
					<div class="content-common-box">
						<h2 class="h2">읍면동별 생활인구 세부사항</h2>
						<div class="cont none-bg">
							<div class="graph-area1"><img src="img/sub6/tmp_graph.jpg" style="width:100%;height: 100%;"></div>
						</div>
					</div>
					<div class="content-common-box">
						<h2 class="h2">화성시 추생/사망 인구 추이</h2>
						<div class="cont none-bg">
							<div class="graph-area1"><img src="img/sub6/tmp_graph.jpg" style="width:100%;height: 100%;"></div>
						</div>
					</div>
				</div>
				
				<div class="right-box">
					<div class="content-common-box">
						<h2 class="h2">경기도 시별 주민등록인구 순위</h2>
						<div class="cont none-bg">
							<div class="graph-area1"><img src="img/sub6/tmp_graph.jpg" style="width:100%;height: 100%;"></div>
						</div>
					</div>
					<div class="content-common-box">
						<h2 class="h2">화성시 주민등록 인구 연령별 현황</h2>
						<div class="cont none-bg">
							<div class="graph-area1"><img src="img/sub6/tmp_graph.jpg" style="width:100%;height: 100%;"></div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- 우측 영역 -->
			
		</div>
		<div class="navigation">하단 네비게이션 영역</div>
	</div>
	
	
	<script>
	$(function(){
		// 페이지별 script		
		$('.map-infomation h4 a').click(function(){
			$(this).addClass('active').siblings().removeClass('active');
			$('.map-infomation .checklist > div').eq($(this).index()).fadeIn(300).siblings().hide();
			return false;
		})
		
		$('input[name=allcheck1]').click(function(){
			if($(this).is(':checked')){
				$('input[name=check1]').prop('checked', true);
			}else{
				$('input[name=check1]').prop('checked', false);
			}
		})
		
		$('input[name=check1]').click(function(){
			var total = $('input[name=check1]').length;
			var checked = $('input[name=check1]:checked').length;
			
			if(total != checked) {
				$('input[name=allcheck1]').prop('checked', false);
			}else{
				$('input[name=allcheck1]').prop('checked', true);
			}
		})
		
		$('input[name=allcheck2]').click(function(){
			if($(this).is(':checked')){
				$('input[name=check2]').prop('checked', true);
			}else{
				$('input[name=check2]').prop('checked', false);
			}
		})
		
		$('input[name=check2]').click(function(){
			var total = $('input[name=check2]').length;
			var checked = $('input[name=check2]:checked').length;
			
			if(total != checked) {
				$('input[name=allcheck2]').prop('checked', false);
			}else{
				$('input[name=allcheck2]').prop('checked', true);
			}
		})
	})
	</script>
	
</body>
</html>

